<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan Application Form</title>
</head>
<body>

    <h1>OLA Churn Prediction Application Form</h1>
    <form action="{{ url_for('predict_datapoint')}}" method="post">
        <label for="Age">Age:</label>
        <input type="number" id="Age" name="Age" required><br>

        <label for="Gender">Gender:</label>
        <input type="number" id="Gender" name="Gender" required><br>

        <label for="Education">Education:</label>
        <input type="number" id="Education" name="Education" required><br>

        <label for="Income">Income:</label>
        <input type="number" id="Income" name="Income" required><br>

        <label for="Joining_Designation">Joining Designation:</label>
        <input type="number" id="Joining_Designation" name="Joining_Designation" required><br>

        <label for="Grade">Grade:</label>
        <input type="number" id="Grade" name="Grade" required><br>

        <label for="Total_Business_Value">Total Business Value:</label>
        <input type="number" id="Total_Business_Value" name="Total_Business_Value" required><br>

        <label for="Last_Quarterly_Rating">Last Quarterly Rating:</label>
        <input type="number" id="Last_Quarterly_Rating" name="Last_Quarterly_Rating" required><br>

        <label for="Quarterly_Rating_Increased">Quarterly Rating Increased:</label>
        <input type="number" id="Quarterly_Rating_Increased" name="Quarterly_Rating_Increased" required><br>

        <label for="Income_Increased">Income Increased:</label>
        <input type="number" id="Income_Increased" name="Income_Increased" required><br>

        <label for="City_C1">City C1:</label>
        <input type="number" id="City_C1" name="City_C1" required><br>

        <label for="City_C10">City C10:</label>
        <input type="number" id="City_C10" name="City_C10" required><br>

        <label for="City_C11">City C11:</label>
        <input type="number" id="City_C11" name="City_C11" required><br>

        <label for="City_C12">City C12:</label>
        <input type="number" id="City_C12" name="City_C12" required><br>

        <label for="City_C13">City C13:</label>
        <input type="number" id="City_C13" name="City_C13" required><br>

        <label for="City_C14">City C14:</label>
        <input type="number" id="City_C14" name="City_C14" required><br>

        <label for="City_C15">City C15:</label>
        <input type="number" id="City_C15" name="City_C15" required><br>

        <label for="City_C16">City C16:</label>
        <input type="number" id="City_C16" name="City_C16" required><br>

        <label for="City_C17">City C17:</label>
        <input type="number" id="City_C17" name="City_C17" required><br>

        <label for="City_C18">City C18:</label>
        <input type="number" id="City_C18" name="City_C18" required><br>

        <label for="City_C19">City C19:</label>
        <input type="number" id="City_C19" name="City_C19" required><br>

        <label for="City_C2">City C2:</label>
        <input type="number" id="City_C2" name="City_C2" required><br>

        <label for="City_C20">City C20:</label>
        <input type="number" id="City_C20" name="City_C20" required><br>

        <label for="City_C21">City C21:</label>
        <input type="number" id="City_C21" name="City_C21" required><br>

        <label for="City_C22">City C22:</label>
        <input type="number" id="City_C22" name="City_C22" required><br>

        <label for="City_C23">City C23:</label>
        <input type="number" id="City_C23" name="City_C23" required><br>

        <label for="City_C24">City C24:</label>
        <input type="number" id="City_C24" name="City_C24" required><br>

        <label for="City_C25">City C25:</label>
        <input type="number" id="City_C25" name="City_C25" required><br>

        <label for="City_C26">City C26:</label>
        <input type="number" id="City_C26" name="City_C26" required><br>

        <label for="City_C27">City C27:</label>
        <input type="number" id="City_C27" name="City_C27" required><br>

        <label for="City_C28">City C28:</label>
        <input type="number" id="City_C28" name="City_C28" required><br>

        <label for="City_C29">City C29:</label>
        <input type="number" id="City_C29" name="City_C29" required><br>

        <label for="City_C3">City C3:</label>
        <input type="number" id="City_C3" name="City_C3" required><br>

        <label for="City_C4">City C4:</label>
        <input type="number" id="City_C4" name="City_C4" required><br>

        <label for="City_C5">City C5:</label>
        <input type="number" id="City_C5" name="City_C5" required><br>

        <label for="City_C6">City C6:</label>
        <input type="number" id="City_C6" name="City_C6" required><br>

        <label for="City_C7">City C7:</label>
        <input type="number" id="City_C7" name="City_C7" required><br>

        <label for="City_C8">City C8:</label>
        <input type="number" id="City_C8" name="City_C8" required><br>
        <div>
            <input type="submit" value="Submit Application">
        </div>
    </form>
    <h2>
        {{results}}
     </h2>
</body>
</html>
